.list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.film-card {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  margin: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');



.image {
  width: 80%;
  height: 300px;
  float: left;
  margin: 10%;
  border-radius: 25px;
}

.name {
  font-family: nunito;
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
}

.date {
  font-family: nunito;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

a {
  font-family: nunito;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 0.2em 1em;
  background-color: #B80000;
  border-radius: 15px;
}


